<div class="component bg">
  <h1>About</h1>

<body>
  <br> <h1>   This page resume all the data about a solar production in the US.
    This website is a expérimentation for improve skills in the web development.</h1><br>

  <h1>  The search is limited to the 8 largest cities in the United States at this time.

  The available cities are as follows:
  - Washington
  - Dallas
  - Los Angeles
  - Houston
  - San Diego
  - Chicago
  - Philadelphia
  - Phoenix</h1>

  <h1> Please make sure to respect upper and lower case for the search to work. </h1>

  <h1>  There is always on build by students with his trainer to help him.
  Thank's for consulting this website and for any sugestion, contact us since "contact us" on the website (Under development)</h1>

  <h1>  I worked alone on this project</h1>

</body>
